---
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'
import HeroSection from '@components/ui/sections/HeroSection.astro'
import FeaturesSection from '@components/ui/sections/FeaturesSection.astro'
import HeroSectionAlt from '@components/ui/sections/HeroSectionAlt.astro'
import Profile from '@components/Profile.astro'
import blogHeroImg from '@images/home.png'
import { teams } from '../teamProfile.ts' 
const newTitle =`
<div class="flex flex-grow gap-[.1rem] sm:gap-2">
<p class="header-word text-[#159246] text-md text-lg sm:text-xl md:text-2xl lg:text-3xl font-medium first-letter:text-3xl md:first-letter:text-5xl   first-letter:leading-none">
  Birjand
</p>
<p class="header-word  text-[#364e6a] text-md text-lg sm:text-xl md:text-2xl lg:text-3xl font-medium first-letter:text-3xl  md:first-letter:text-5xl first-letter:leading-none">
  Collegiate
</p>
<p class="header-word  text-[#c49319] text-md text-lg sm:text-xl md:text-2xl lg:text-3xl font-medium first-letter:text-3xl md:first-letter:text-5xl  first-letter:leading-none">
  Programming
</p>
<p class="header-word  text-[#972d25] text-md text-lg sm:text-xl md:text-2xl lg:text-3xl font-medium first-letter:text-3xl  md:first-letter:text-5xl first-letter:leading-none">
  Contest
</p></div>`

---


<BaseLayout>
    <HeroSection
        title=`${newTitle}`
        subTitle=`📅 Khordad 1-2 ,1404`
        primaryBtn="SignUp"
        primaryBtnURL="/registration-full"
        alt="BCPC's log"
        >
  <div class="flex justify-center  flex-col items-start md:items-center space-y-4 text-lg leading-relaxed text-neutral-800 dark:text-neutral-200">
    <p class="text-2xl md:text-3xl text-[#f1c40f] dark:text-[#FFD700] first-letter:text-3xl">🥇 <strong> 1st :</strong>   14 million toman</p>
    <p class="text-xl md:text-2xl text-[#636e72] dark:text-[#D7D7D7]">🥈 <strong> 2nd :</strong>  9 million toman</p>
    <p class="text-lg md:text-xl text-[#A77044]">🥉 <strong> 3rd :</strong>  6 million toman </p>
    <p class="dark:text-neutral-300 text-sm">
            Over 50 million toman worth of non-cash prizes were distributed to all participants.
    </p>
  </div>
    </HeroSection>
    <FeaturesSection />

    <section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full">
        <div class="mx-auto mb-10 max-w-2xl text-center lg:mb-14">
            <h2 class="text-3xl font-bold text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight">
             Meet the Team Behind BCPC
            </h2>
            <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
            A group of passionate individuals dedicated to making this event unforgettable
            </p>
        </div>
        <div class="grid gap-5 grid-cols-[repeat(auto-fit,minmax(20rem,1fr))]">
            {
                teams.map(b => (
                    <Profile {...b} />
                ))
            }
        </div>
    </section>

    </BaseLayout>



