
---
import BaseLayout from '@layouts/BaseLayout.astro'
import { SITE } from '@/config'
const description = "ุธุฑูุช ูุณุงุจูู ุชฺฉูู ุดุฏู ุงุณุช - ุงุทูุงุน ุงุฒ ุงุฎุจุงุฑ ุงุฒ ุทุฑู ุณููพุฑฺฏุฑูู ุงูุฌูู"
const URL = Astro.url.href
const groupLink = "https://t.me/SSCEUBIR/757" 
---

<BaseLayout
  title="ุธุฑูุช ุชฺฉูู ุดุฏู"
  description={description}
  structuredData={{
    '@context': 'https://schema.org',
    '@type': 'WebPage',
    'inLanguage': 'fa-IR',
    '@id': URL,
    'url': URL,
    'name': `Registration Full - ${SITE.title}`,
    'description': description,
    'isPartOf': {
      '@type': 'WebSite',
      'url': SITE.url,
      'name': SITE.title,
      'description': SITE.description,
    },
  }}
>

<section class="mx-auto max-w-[85rem] mt-10 lg:mt-10 px-2 py-10 sm:px-6 lg:px-8 lg:py-14" >
   <div class="text-right">
      <h2 dir="rtl" class="text-2xl font-bold text-red-600  dark:text-red-400">
        ุธุฑูุช ุชฺฉูู ุดุฏู!
      </h2>
      <p dir="rtl" class="text-sm text-neutral-600 dark:text-neutral-400 mt-2">
        ุซุจุชโูุงู ุงู ูุฑุญูู ุจู ูพุงุงู ุฑุณุฏู ู ุธุฑูุช ุชฺฉูู ุดุฏู ุงุณุช.
      </p>
      <p class="mt-3 text-xs sm:text-sm md:text-base text-neutral-700 dark:text-neutral-300">
        ุงูุฌูู ฺฉุงููพูุชุฑ ูุฑ ุฏูููุชู ูุณุงุจูู ุจุฑูุงููโููุณ ุขููุงู ู ุญุถูุฑ ุจุฑฺฏุฒุงุฑ ูโฺฉูุฏ.
        ุจุฑุง ุงุทูุงุน ุงุฒ ุฒูุงูโุจูุฏ ูุณุงุจูุงุช ุขูุฏูุ ุฏุฑ ุณููพุฑฺฏุฑูู ุงูุฌูู ุนุถู ุดูุฏ ๐
      </p>
      <a
        href={groupLink}
        target="_blank"
        class="inline-block text-sm sm:text-base text-neutral-700 mt-4 bg-blue-600 hover:bg-blue-700 dark:text-neutral-300 underline font-semibold py-2 px-4 rounded-lg transition"
      >
        ุนุถูุช ุฏุฑ ุณููพุฑฺฏุฑูู ุงูุฌูู
      </a>
    </div></section>

</BaseLayout>

