---
import BaseLayout from '@layouts/BaseLayout.astro'
import { SITE } from '@/config'
import TeamsTable from "@components/team.data.tsx"
const description = "BCPC's Teams"
const URL = Astro.url.href


---
<BaseLayout
    title="Teams"
    description={description}
    structuredData={{
        '@context': 'https://schema.org',
        '@type': 'WebPage',
        'inLanguage': 'en-US',
        '@id': URL,
        'url': URL,
        'name': `Teams - ${SITE.title}`,
        'description': description,
        'isPartOf': {
            '@type': 'WebSite',
            'url': SITE.url,
            'name': SITE.title,
            'description': SITE.description,
        },
    }}
>
<section class="mx-auto max-w-[85rem] mt-10 lg:mt-10 px-2 py-10 sm:px-6 lg:px-8 lg:py-14">
        <TeamsTable />
</section>
</BaseLayout>

