---
import BaseLayout from '@layouts/BaseLayout.astro'
import { SITE } from '@/config'
const description = "The TimeLine of the event"
const URL = Astro.url.href
import {TimelineDemo} from "@components/timline.data.tsx"

---

<BaseLayout
    title="Timeline"
    description={description}
    structuredData={{
        '@context': 'https://schema.org',
        '@type': 'WebPage',
        'inLanguage': 'en-US',
        '@id': URL,
        'url': URL,
        'name': `Timeline - ${SITE.title}`,
        'description': description,
        'isPartOf': {
            '@type': 'WebSite',
            'url': SITE.url,
            'name': SITE.title,
            'description': SITE.description,
        },
    }}
>
    <div class="relative w-full overflow-clip">
        <TimelineDemo  client:load />
    </div>
</BaseLayout>
